@import './mixin.scss';

#head_top{
        height: 70px;
        font-size: 16px;
        background: #444967;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        color: #B6B4C7;
        .tip{
            color: #B6B4C7;
            font-size: 18px;
            background: #232639;
            width: 15.6%;
            text-align:center;
            height: 70px;
            line-height: 70px;
            float: left;
            min-width: 100px;    
        }
        .back{
            position: absolute;
            bottom: .27rem;
            left: 17%;
            color: white;
            cursor:pointer
        }
        .user{
            position: absolute;
            width: 40%;
            text-overflow:ellipsis ;
            overflow: hidden;
            white-space: nowrap;
            min-width: 200px;
            right: 0;
            height: 70px;
            line-height: 70px;
            top: 0;
            text-align: right;
            >span{
                font-size: 15px;
                width: 1.5rem;
                display: inline-block;
                text-decoration: underline;
                text-overflow:ellipsis ;
                overflow: hidden;
                white-space: nowrap;
            }
            .el-checkbox{
                color: #B6B4C7;
                margin-right: .6rem;
                position: absolute;
                right: 2rem;
            }
            .el-dropdown{
                margin-right: 1rem;
                position: absolute;
                right: .1rem;
                color: white;
                height: .6rem;
                img{
                    margin-left: .06rem;
                }
                li{
                    text-align: left;
                    color: black;
                }
            }
        }
    }
    .head_goback{
        left: 0.4rem;
        @include wh(0.6rem, 0.8rem);
        line-height: 2.2rem;
        margin-left: .4rem;
    }
    .head_login{
        right: 0.55rem;
        @include sc(0.65rem, #fff);
        @include ct;
        .login_span{
            color: #fff;
        }
        .user_avatar{
            fill: #fff;
            @include wh(.8rem, .8rem);
        }
    }
    .title_head{
        @include center;
        width: 50%;
        color: #fff;
        text-align: center;
        .title_text{
            @include sc(0.8rem, #fff);
            text-align: center;
            font-weight: bold;
        }
    }